{% extends "base.html" %}

{% block title %}CineVibes - Inicio{% endblock %}

{% block content %}
<h1>Bienvenido a CineVibes</h1>

<div class="featured-movie">
    <h2>Película Destacada</h2>
    <div class="movie-card">
        <img src="https://m.media-amazon.com/images/M/MV5BYzE5MjY1ZDgtMTkyNC00MTMyLThhMjAtZGI5OTE1NzFlZGJjXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg" alt="Deadpool Poster" class="movie-poster">
        <div class="movie-info">
            <h3>Deadpool</h3>
            <p><strong>Año:</strong> 2016</p>
            <p><strong>Director:</strong> Tim Miller</p>
            <p><strong>Descripción:</strong> Un mercenario con una lengua afilada y un sentido del humor mórbido es sometido a un experimento clandestino que le deja con poderes de curación acelerados y una misión de venganza.</p>
            <a href="{{ url_for('movie_player', movie_id='tt1431045') }}" class="btn-watch">Ver Película</a>
        </div>
    </div>

    <div class="movie-card">
        <img src="https://cdn.marvel.com/content/1x/dp3_1sht_digital_srgb_ka_swords_v5_resized.jpg" alt="Deadpool And Wolverine Poster" class="movie-poster">
        <div class="movie-info">
            <h3>Deadpool And Wolverine</h3>
            <p><strong>Año:</strong> 2024</p>
            <p><strong>Director:</strong> Shawn Levy</p>
            <p><strong>Descripción:</strong> la nueva entrega de la saga donde Wade Wilson, conocido por todos como Deadpool, intenta llevar una vida normal lejos de su pasado como mercenario. Pero cuando su mundo se encuentra al borde de una catástrofe, se ve obligado a regresar a la acción.</p>
            <a href="{{ url_for('movie_player', movie_id='tt1537481') }}" class="btn-watch">Ver Película</a>
        </div>
    </div>
</div>

<h2>Otras Películas Recientes</h2>
<div class="movie-list">
    <div class="movie-item">
        <h3>Deadpool And Wolverine</h3>
            <p><strong>Año:</strong> 2024</p>
            <p><strong>Director:</strong> Shaw Levy</p>
            <p><strong>Descripción:</strong> la nueva entrega de la saga donde Wade Wilson, conocido por todos como Deadpool, intenta llevar una vida normal lejos de su pasado como mercenario. Pero cuando su mundo se encuentra al borde de una catástrofe, se ve obligado a regresar a la acción.</p>
        <a href="{{ url_for('movie_player', movie_id='tt1537481') }}" class="btn-details">Ver Película</a>
    </div>
    <!-- Puedes añadir más películas aquí -->
</div>
{% endblock %}
