{% extends "base.html" %}

{% block title %}{{ movie.title | default('Película Desconocida') }} ({{ movie.year | default('N/A') }}) - CineVibes{% endblock %}

{% block content %}
<div class="container-fluid animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-12 col-lg-8 mb-4">
            <div class="movie-player glass-effect p-4 rounded shadow">
                <h2 class="movie-title mb-3" style="color: #ff4081;">{{ movie.title | default('Película Desconocida') }} ({{ movie.year | default('N/A') }})</h2>
                {% if movie.imdb_id == 'tt1431045' %}
                <!-- Reproductor para Deadpool (2016) -->
                <div class="embed-responsive embed-responsive-16by9" style="height: 500px;">
                    <iframe class="embed-responsive-item"
                        src="https://luluvdo.com/e/2f87p50mtkny"
                        sandbox="allow-same-origin allow-scripts allow-forms"
                        allowfullscreen
                        referrerpolicy="no-referrer">
                    </iframe>
                </div>
                {% elif movie.imdb_id == 'tt6263850' %}
                <!-- Reproductor para Deadpool and Wolverine (2024) -->
                <div class="embed-responsive embed-responsive-16by9" style="height: 500px;">
                    <iframe class="embed-responsive-item"
                        src="https://luluvdo.com/e/rmnybmum5g8z"
                        sandbox="allow-same-origin allow-scripts allow-forms"
                        allowfullscreen
                        referrerpolicy="no-referrer">
                    </iframe>
                </div>
                {% elif movie.imdb_id == 'tt10872600' %}
                <!-- Reproductor para Spider-Man: No Way Home (2021) -->
                <div class="embed-responsive embed-responsive-16by9" style="height: 500px;">
                    <iframe class="embed-responsive-item"
                        src="https://embedwish.com/e/86bs9qlzx7at"
                        sandbox="allow-same-origin allow-scripts allow-forms"
                        allowfullscreen
                        referrerpolicy="no-referrer">
                    </iframe>
                </div>
                {% elif movie.imdb_id == 'tt0433035' %}
                <!-- Reproductor para Gigantes de acero (2011) -->
                <div class="embed-responsive embed-responsive-16by9" style="height: 500px;">
                    <iframe class="embed-responsive-item"
                        src="https://luluvdo.com/e/w1iv5x90qirf"
                        sandbox="allow-same-origin allow-scripts allow-forms"
                        allowfullscreen
                        referrerpolicy="no-referrer">
                    </iframe>
                </div>
                {% elif movie.imdb_id == 'tt2263944' %}
                <!-- Dragon ball Z: Battle Of Gods (2013) -->
                <div class="embed-responsive embed-responsive-16by9" style="height: 500px;">
                    <iframe class="embed-responsive-item"
                        src="https://flaswish.com/e/vmba3zf72s3p"
                        sandbox="allow-same-origin allow-scripts allow-forms"
                        allowfullscreen
                        referrerpolicy="no-referrer">
                    </iframe>
                </div>
                {% else %}
                <div class="alert alert-warning">
                    <i class="fas fa-exclamation-triangle"></i> Lo sentimos, el video no está disponible en este momento.
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="movie-info glass-effect p-4 mb-4 rounded shadow">
                <h3 class="mb-3" style="color: #ff4081;">Detalles de la Película</h3>
                <p style="color: #ff4081;"><i class="fas fa-film"></i> <strong>Director:</strong> {{ movie.director | default('N/A') }}</p>
                <p style="color: #ff4081;"><i class="fas fa-calendar-alt"></i> <strong>Año:</strong> {{ movie.year | default('N/A') }}</p>
                <p style="color: #ff4081;"><i class="fas fa-star"></i> <strong>Calificación IMDb:</strong> {{ movie.imdb_rating if movie.imdb_rating != 'N/A' else 'N/A' }}</p>
                <p style="color: #ff4081;"><i class="fas fa-clock"></i> <strong>Duración:</strong> {{ movie.runtime | default('N/A') }}</p>
                <p style="color: #ff4081;"><i class="fas fa-language"></i> <strong>Idioma:</strong> {{ movie.language | default('N/A') }}</p>
                <p style="color: #ff4081;"><i class="fas fa-globe"></i> <strong>País:</strong> {{ movie.country | default('N/A') }}</p>
                <p style="color: #ff4081;"><i class="fas fa-trophy"></i> <strong>Premios:</strong> {{ movie.awards | default('N/A') }}</p>
                <h4 class=" mt-4 mb-2" style="color: #ff4081;">Sinopsis</h4>
                <p style="color: #ffffff;">{{ movie.plot | default('N/A') }}</p>
                <h4 class="mt-4 mb-2" style="color: #ff4081;">Actores</h4>
                <p style="color: #ffffff;">{{ movie.actors | default('N/A') }}</p>
                <h4 class="mt-4 mb-2" style="color: #ff4081;">Género</h4>
                <p style="color: #ffffff;">{{ movie.genre | default('N/A') }}</p>
            </div>
        </div>
    </div>

    <div class="comments-section glass-effect p-4 rounded shadow mb-4">
        <h3 style="color: #ff4081;">Comentarios</h3>
        <form id="comment-form" method="POST" action="{{ url_for('add_review', movie_id=movie.imdb_id) }}">
            <div class="form-group">
                <textarea class="form-control" name="content" rows="3" placeholder="Escribe tu comentario aquí..." required></textarea>
            </div>
            <div class="form-group">
                <label for="rating">Calificación:</label>
                <select class="form-control" name="rating" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #ff4081; border: none;">Enviar Comentario</button>
        </form>

        <div class="comments-list mt-4">
            {% for review in reviews %}
                <div class="comment mb-3 p-2 border rounded" style="background-color: rgba(255, 255, 255, 0.1);">
                    <div class="d-flex align-items-center">
                        <img src="{{ url_for('static', filename=review.user_profile_pic) if review.user_profile_pic else url_for('static', filename='images/default_profile.png') }}"
                             alt="Foto de Perfil"
                             class="profile-img" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;">
                        <strong>{{ review.user_nickname }}</strong> ({{ review.created_at }}):
                    </div>
                    <p>{{ review.review_text }}</p>
                    <p>Calificación: {{ review.rating }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Bloquear ventanas emergentes
            window.open = function() {
                console.log("Se intentó abrir una ventana emergente, pero se bloqueó.");
                return null; // Bloquea la apertura de nuevas ventanas
            };

            // Detectar y bloquear anuncios
            const iframes = document.querySelectorAll('iframe');
            iframes.forEach(iframe => {
                iframe.addEventListener('load', function() {
                    try {
                        const iframeWindow = iframe.contentWindow;
                        // Bloquear cualquier intento de abrir una nueva ventana desde el iframe
                        iframeWindow.open = function() {
                            console.log("Se intentó abrir una ventana emergente desde el iframe, pero se bloqueó.");
                            return null; // Bloquea la apertura de nuevas ventanas
                        };
                    } catch (e) {
                        console.error("No se pudo acceder al contenido del iframe:", e);
                    }
                });
            });

            // Mensaje para el usuario sobre el bloqueador de anuncios
            setupAdBlockDetection();
        });

        function setupAdBlockDetection() {
            // Aquí puedes implementar la lógica para detectar bloqueadores de anuncios
            // Por ejemplo, puedes verificar si un elemento específico está presente en la página
            const adBlockDetected = false; // Cambia esto según tu lógica de detección

            if (adBlockDetected) {
                document.querySelector('.ad-blocker-notice').style.display = 'block';
            } else {
                document.querySelector('.ad-blocker-notice').style.display = 'none';
            }
        }
    </script>

    <div class="ad-blocker-notice alert alert-info mt-4">
        <i class="fas fa-shield-alt"></i> Para una mejor experiencia, recomendamos usar un bloqueador de anuncios en tu navegador.
    </div>
</div>
{% endblock %}
