{% extends "base.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div class="movie-container">
    <div class="movie-player">
        <h2>{{ movie.title }} ({{ movie.year }})</h2>
        <iframe
            src="{{ movie.video_url }}"
            width="100%"
            height="400"
            frameborder="0"
            allowfullscreen>
        </iframe>
        <div class="movie-info">
            <p><strong>Director:</strong> {{ movie.director }}</p>
            <!-- Puedes añadir más información aquí -->
        </div>
    </div>
</div>
{% endblock %}
