{% extends 'base.html' %}

{% block title %}Verificación de Código - CineVibes{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Verifica tu Cuenta</div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('verify', email=email) }}">
                    <div class="mb-3">
                        <label for="code" class="form-label">Ingresa el Código de Verificación:</label>
                        <input type="text" class="form-control" id="code" name="code" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Verificar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
